<html>
  <head>
    <title>Inventory Management</title>
  </head>

  {% load static %}
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">

   <body>

<nav class="navbar navbar-expand navbar-dark bg-dark">
   <a class="navbar-brand" href="#">Inventory Management System</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
       </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
       <input class="form-control" type="text" placeholder="Search">
    </form>
   </div>
</nav>

   </body>
 </html>

    <br>

<div class="button-group">
    <a href="{% url 'display_parts' %}" class="btn btn-primary btn-md" role="button"> Parts</a>
    <a href="{% url 'add_part' %}" class="btn btn-warning btn-sm" role="button"> +</a>

    <a href="{% url 'display_products' %}" class="btn btn-primary btn-md" role="button"> Products</a>
    <a href="{% url 'add_product' %}" class="btn btn-warning btn-sm" role="button"> +</a>

    <a href="{% url 'display_workorders' %}" class="btn btn-primary btn-md" role="button"> WorkOrders</a>
    <a href="{% url 'add_workorder' %}" class="btn btn-warning btn-sm" role="button"> +</a>

    <a href="{% url 'display_location' %}" class="btn btn-primary btn-md" role="button"> Storage</a>
    <a href="{% url 'add_location' %}" class="btn btn-warning btn-sm" role="button"> +</a>


</div>

    <br>


{% block body %}

<!--<table class="table table-hover">-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Name</th>-->
<!--        <th>Desc</th>-->
<!--        <th>Creator</th>-->
<!--        <th></th>-->
<!--      </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--        {% for item in items %}-->
<!--        <tr>-->
<!--            <td>{{ item.pk }}</td>-->
<!--            <td>{{ item.name }}</td>-->
<!--            <td>{{ item.desc }}</td>-->
<!--            <td>{{ item.creator}}</td>-->

<!--        </tr>-->

<!--        {% endfor %}-->

<!--    </tbody>-->
<!--</table>-->

{% endblock %}